h1 {
	font-family: Verdana, Geneva, sans-serif;
	color: #F7ECC9;
	text-align: center;
	background-color: #072111;
}



body {
	background-color: #20421B;
	color: #FFEBB8;
	background-repeat: no-repeat;
}
span {
	color: #EB2917;
	vertical-align: sub;
	font-family: "Arial Black", Gadget, sans-serif;
}
a {
	color: rgba(235,41,24,1);
	background-position: center;
	text-align: center;
}

p {
	text-align: center;
	
}
h2 {
	font-family: "Times New Roman", Times, serif;
	color: #FEDE52;
	text-align: center;
}

header {
	margin-bottom: 10%;
}


nav {
	background-color: #072111;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 10%;
	text-align: center;
}
li {
	list-style-type: square;
}


label {
	display: block;
}

fieldset {
	margin-right: 20%;
	margin-left: 20%;
	border: medium ridge #F7ECC9;
}
section {
	text-align: center;
}
#buton {
	background-color: #FEDE52;
}
#sstyle {
	background-color: #FEDE52;
}

